/*En 544px menor que eso que las caracteristicas que esten dentro de ul se creen 2 nomas*/
* {
    margin: 0;
}

@font-face {
    font-family: 'Poppins 800';
    src: url(Fonts/Poppins-ExtraBold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Poppins 400 (Regular)';
    src: url(Fonts/Poppins-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Poppins 600';
    src: url(Fonts/Poppins-SemiBold.ttf);
    font-display: swap;
}

@font-face {
    font-family: 'Poppins 700';
    src: url(Fonts/Poppins-Bold.ttf);
}

header {
    font-family: 'Poppins 800', sans-serif;
    background-color: #2472CD;
    color: white;
    text-align: center;
    font-size: clamp(18px, 4vw, 20px);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Poppins 400 (Regular)';
}

nav img {
    cursor: pointer;
}

nav #Menu-Button {
    display: none;
}

nav .Menu-Options {
    padding: 0;
}

nav .Menu-Options li {
    display: inline;
    margin: 18px 5px 18px 5px;

}

nav .Menu-Options a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

nav .Menu-Options-Icons {
    display: none;
}

nav .Container-Icons-Search-Buy #Lupa-Icon-For-Mobile {
    display: none;
}

nav .Container-Icons-Search-Buy .Container-Search .Close-Icon {
    display: none;
}

nav .Container-Icons-Search-Buy .Container-Search #Search {
    padding: 5px 0px 5px 11px;
    border-radius: 10px 0px 0px 10px;
}

nav .Container-Icons-Search-Buy .Container-Search #Button-Search {
    background-color: #004DFF;
    border: 0;
    color: white;
    font-weight: 800;
    font-size: 16px;
    height: 30px;
    border-radius: 0 0 10px 0;
}

nav .Container-Icons-Search-Buy .Numero-De-Productos-Almacenados {
    position: relative;
    top: -12px;
}

ul li {
    list-style: none;
}

hr {
    background-color: #e5e5e5;
    height: 1px;
    border: 0;
    width: 80%;
    margin-top: 30px;
}

h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

main section .Contenedor {
    display: flex;
    justify-content: center;
}

main section .Contenedor article {
    display: flex;
}

main section .Contenedor article ul li:nth-of-type(2) {
    margin-top: -18px;
    margin-bottom: 5px;
}

main section .Contenedor article ul .Nombre_del_producto {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
}

main section .Contenedor article ul li .rating {
    display: inline-block;
    opacity: 1;
}
  
main section .Contenedor article ul li .rating input {
    display: none;
    opacity: 1;
}
  
main section .Contenedor article ul li .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
}
  
main section .Contenedor article ul .Precio_real {
    text-decoration: line-through;
    font-size: 15px;
    color: #616161;
    margin: 0;
}

main section .Contenedor article ul .Precio_real_o_descuento {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}

main section .Contenedor article ul li:nth-of-type(6) div button {
    border: 0;
    background-color: white;
    padding: 0;
    cursor: pointer;
}

main section .Contenedor article ul li:nth-of-type(7) div button {
    background-color: #1D71E6;
    color: white;
    margin: 0;
    padding: 0;
    height: 34px;
    width: 116px;
    border: 0;
    border-radius: 24px;
}

main section .Contenedor article ul li:nth-of-type(7) div button p{
    margin-top: 9px;
}


main section .Contenedor article ul li .rating label:before {
    content: '\2605';
    font-size: 30px;
    transition: color 0.3s;
}
  
main section .Contenedor article ul li .rating input:checked ~ label,
main section .Contenedor article ul li .rating label:hover,
main section .Contenedor article ul li .rating label:hover ~ label {
    color: #ffc300;
    transform: scale(1.2);
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: bounce 0.5s ease-in-out alternate;
}
  
main section .Contenedor_2 .Caracteristicas_del_producto {
    display: flex;
    justify-content: center;
    height: 140px;
    overflow-y: hidden;
    transition: height 2s ease;
}

main section .Contenedor_2 .Caracteristicas_del_producto ul {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
}

main section .Contenedor_2 .Caracteristicas_del_producto ul li p {
    margin-top: 6px;
}

main section .Eliminar-overflow {
    margin-top: 15px;
    background-color: white;
    border: 0;
    cursor: pointer;
}

main section .Caracteristicas_del_producto ul li {
    display: flex;
}

main section .Contenedor_3 .Descripcion {
    color: #666;
    height: 200px;
    overflow-y: hidden;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

main section .Contenedor_3 .Descripcion p {
    text-align: justify;
    margin-top: 5px;
}

main section .Contenedor_4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .Contenedor_4 input:nth-of-type(1) {
    padding: 10px;
    width: 30%;
}

main section .Contenedor_4 input:nth-of-type(2) {
    background-color: #004DFF;
    color: white;
    border: 0;
    padding: 12px;
}

main .Container-Carrito-De-Compra {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: white;
    width: 400px;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transition: right 1s ease;
}

main .Container-Carrito-De-Compra .Contenedor {
    height: 90%;
    overflow-y: scroll;
}

main .Container-Carrito-De-Compra .Contenedor .Contenedor-Icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins 700';
    margin-top: 15px;
    margin-bottom: 35px;
}

main .Container-Carrito-De-Compra .Contenedor .Contenedor-Icons a {
    display: flex;
}

main .Container-Carrito-De-Compra .Finalizar_pedido {
    text-align: center;
}

main .Container-Carrito-De-Compra .Finalizar_pedido button {
    background-color: #1D71E6;
    font-size: 17px;
    border: 0;
    padding: 10px;
    width: 290px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

main .Container-Carrito-De-Compra .Contenedor .Contenedor-De-Productos-En-El-Carro-De-Compra {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

main .Container-Carrito-De-Compra .Contenedor .Contenedor-De-Productos-En-El-Carro-De-Compra:nth-of-type(1) {
    margin-top: 0;
}

main .Container-Carrito-De-Compra .Contenedor .Contenedor-De-Productos-En-El-Carro-De-Compra ul li:nth-of-type(1) {
    font-family: 'Poppins 400 (Regular)';
}

main .Container-Carrito-De-Compra .Contenedor .Contenedor-De-Productos-En-El-Carro-De-Compra ul li:nth-of-type(2) {
    font-family: 'Poppins 600';
}

@keyframes bounce {
    to {
      transform: scale(1.3);
    }
}

@media (max-width: 769px) {
    main section .Contenedor article {
        display: block;
    }

    main section .Contenedor article ul {
        padding: 0;
    }

    main section .Contenedor article ul .Nombre_del_producto {
        font-size: 22px;
    }

    main section .Contenedor_4 input:nth-of-type(1) {
        padding: 10px;
        width: 50%;
    }
}

@media (max-width: 1099px) {
    nav .Container-Icons-Search-Buy #Lupa-Icon-For-Mobile {
        display: inline;
    }

    nav .Container-Icons-Search-Buy .Container-Search {
        width: 100%;
        height: 70px;
        position: absolute;
        top: -100%;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e8e8e8;
        transition: top 1s ease;
    }

    nav .Container-Icons-Search-Buy .Container-Search .Close-Icon {
        display: inline;
    }
}

@media (max-width: 899px) {
    nav #Menu-Button {
        display: inline;
    }
    
    nav .Menu-Options {
        position: absolute;
        top: 0;
        left: -100%;
        width: 252px;
        background-color: rgb(204, 204, 204);
        padding-left: 10px;
        transition: left 1s ease;
    }

    nav .Menu-Options li:nth-of-type(1) {
        padding-left: 0;
    }
    
    nav .Menu-Options li {
        display: block;
        padding-left: 10px;
    }

    nav .Menu-Options-Icons {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}

@media (max-width: 808px) {
    main section .Contenedor_3 .Descripcion {
        width: 90%;
    }
}